.consent{
    overflow: auto;
    height: 500px;
    border: 1px solid;
}

.join h1 {
    font-size: 20pt;
    /* font-weight: bold; */
}

.join h2 {
    font-size: 16pt;
    /* font-weight: bold; */
}

.join h3 {
    font-size: 14pt;
    /* font-weight: bold; */
}

.join h1, h2 {
    margin-bottom: 30px;
}

.frame {
    width: 80%;
    margin: 30px auto 20px;
    padding: 30px 20px 0;
    border: 3px solid #aaa;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
   }
   .frame-title {
    position: absolute;
    top: -13px;
    left: 20px;
    padding: 0 5px;
    background-color: #fff;
   }
   .frame-title .fa {
    margin-right: 5px;
   }
   .caution {
    background-color: #ff4500;
    border: 2px solid #ff4500;
    color: #fff;
    border-radius: 3px;
   }
   .frame-red {
    border-color: #ff4500;
   }