---
import Layout from '../layouts/Layout.astro';
---
<Layout title="OHMについて">
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-4">
                    <img src="/imgs/mem1.jpg" width="90%" alt="" class="mb-4">
                </div>
                <div class="pl-md-4 col-md-8">
                    <h6 class="title">About Us</h6>
                    <p class="subtitle">「宇宙開発研究所OHM」について</p>
                    <div class="text-left">
                    <p>
                        我々 OHM (オーム) は、ラテン語で「人類変革の起源」を意味する Origo Humanae Mutationis の頭文字を取った名前です。当団体は、宇宙工学を基盤に、技術革新と未来への挑戦を目指して活動しています。
                    </p>
                    <p>
                        私たちは、宇宙開発に情熱を注ぐ数多くの人々の力を結集し、共に宇宙への新たな挑戦を進めることを使命としています。これまで、日本各地で多くの情熱的なエキスパートたちが、それぞれの場所で昼夜を問わず宇宙技術の開発に取り組んできました。彼らは寝ることさえ忘れるほど熱中し、心血を注いで宇宙探査や技術の進化に貢献してきました。しかし、これらの取り組みは、地域や大学といった限られた範囲で行われており、互いに協力して最大限の力を発揮することができていたとは言い難い状況でした。
                    </p>   
                </div>
                </div>
                <div class="col-md-7">
                    <div class="text-left">
                    <p>
                        私たち OHM は、そうした宇宙開発に対する強い情熱を持つエキスパートたちを一堂に集め、地域や組織の垣根を超えて協力し合い、今まで以上に全力を注いで宇宙という新たなフロンティアに挑みます。さまざまなバックグラウンドを持つメンバーが集結することで、技術や知識の共有、発展的な議論、そして協働による力の最大化を図ります。
                    </p>
                    <p>
                        私たちが目指すのは、地球上の枠にとらわれず、宇宙を次なるステージとして、技術革新と人類の未来を切り開くことです。これからの時代に必要とされるのは、一つの組織や地域にとどまらず、全国、さらには世界中の技術者や科学者たちが力を合わせ、全力で未来に挑戦する姿勢です。私たち OHM は、その中心的な役割を果たし、次世代へと続く新たな宇宙探査の扉を開くために、挑戦を続けます。
                    </p>
                </div>
                </div>
                <div class="pl-md-4 col-md-5">
                    <img src="/imgs/mem2.jpg" width="90%" alt="" class="mb-4">                
                </div>
                <div class="col-md-12">
                    <div class="text-left">
                    <p>
                        ※　当団体では、研究開発費は全額、研究助成金や寄付金等によって賄われております。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="service" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Our Journey</h6>
            <h6 class="section-title mb-4">History</h6>
            <p class="mb-5 pb-4">A brief history of our organization.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img src="/imgs/building_kaisya_blank.png" height="100px" alt="" class="mb-4">
                            <h6 class="card-title">設立</h6>
                            <p class="card-text">2024年10月</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img src="/imgs/akusyu_hand_suit.png" height="100px" alt="" class="mb-4">
                            <h6 class="card-title">Chart株式会社と提携</h6>
                            <p class="card-text">2024年12月</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img src="/imgs/space_rocket_hassya.png" height="100px" alt="" class="mb-4">
                            <h6 class="card-title">ロケットミッション開始</h6>
                            <p class="card-text">2024年12月</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>